body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.auth-container, .profile-container, .admin-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

h2, h3 {
  text-align: center;
}

input, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.navbar {
  display: flex !important;
}
